.new{
    float: right;
    display: flex;
    margin-bottom: 1.5em;
    background-color: #83bf02;
    padding: 0.4em;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: 600;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.new svg{
    margin-right:3px;
    width: 22px;
}

.new:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}