form textarea{
    resize: none;
    height: 120px;
}

form input[type="radio"]{
    margin: 15px 0;
}

form input[type="radio"]:not(:first-child){
    margin-left: 15px;
}

.status span{
    padding-left: 0.5em;
    font-size: 0.9em;
}

.status{
    margin-bottom: 1em;
}


@media (min-width: 1000px) {
    form select, 
    form textarea, 
    form button {
        max-width: 600px;
        width: 100%;
    }
}
